/* Overall styling */
body {
  /* background-color: #323232 !important; */
  color: #FFF !important;
  font-family: 'Roboto', sans-serif !important;
  background: repeating-linear-gradient(
  45deg,
  #323232,
  #323232 10px,
  #353535 10px,
  #353535 20px
);
}

section {
  margin: 5em 0;
}

h2 {
  margin-bottom: 1em !important;
  color: #EA1E5B !important;
  font-family: 'Leckerli One', cursive !important;
  font-size: 30pt !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) !important;
}

i {
  font-size: 16pt !important;
}

a {
  color: #FFF !important;
  transition: 0.4s !important;
}

a:hover {
  color: #43C66F !important;
  text-decoration: none !important;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(234, 30, 91, 0.75), rgba(0, 0, 0, 0));
}

/* Navbar */
.navbar-nav a {
  margin-left: 1em;
}

#navbar {
  background-color: rgba(50, 50, 50, 0.8) !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px !important;
  border-bottom: 3px solid #EA1E5B;
}

#navbar a {
  color: #FFF;
  border-bottom: 2px solid transparent;
}

.navbar-brand {
  color: #EA1E5B !important;
  font-family: 'Leckerli One', cursive !important;
  font-size: 22pt !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) !important;
}

.navbar-brand:hover {
  color: #EA1E5B !important;
}

.navbar-toggler {
  outline: 0 !important;
  background-color: #43C66F !important;
}

/* Jumbotron */
.jumbotron {
  height: 100vh;
  position: relative;
  background-image: url(/imgs/feathers2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px;
}

.jumbotron h1, .jumbotron p {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#bigName {
  color: #EA1E5B;
  font-size: 50pt;
  font-family: 'Leckerli One', cursive;
}

#title {
  margin-top: 0;
}

.jumbotron div {
  width: 20em;
  margin: 8em 0 0 2em;
}

.jumbotron div h1, #bigName {
  font-size: 30pt;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .jumbotron div {
    width: 28em;
    margin: 8em 0 0 5em;
  }

  .jumbotron div h1 {
    font-size: 40pt;
  }

  #bigName {
    font-size: 45pt;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron div {
    width: 35em;
    margin: 8em 0 0 10em;
  }

  #bigName {
    font-size: 50pt;
  }
}

/* About */
#aboutAnchor  {
  position: absolute;
  bottom: 0;
}

#about .col-md-2 {
  border: 1px solid black;
}

#photoColumn {
  text-align: center;
}

#photo {
  border-radius: 100%;
  border: 5px solid #EA1E5B;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  width: 20em;
}

.col-sm-3 img, .col-sm-4 img {
  width: 100px;
  height: 100px;
}

.technologies {
  margin-top: 2em;
}

.technologies div {
  font-size: 14pt;
}

.technologies .img-fluid {
  margin-bottom: 1em;
}

.technologies .col-sm-3, .technologies .col-sm-4 {
  position: relative;
  text-align: center
}

.techName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #photo {
    width: 30em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  #photo {
    width: 35em;
  }
}

/* Projects */
#projectsAnchor {
  display: block;
}

#projects {
  text-align: center;
}

#projects img {
  width: 340px;
  margin-bottom: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  border-radius: 7px;
}

#projects h2, #contact h2 {
  text-align: center;
}

.projectImage {
  position: relative;
}

.col-lg-6 {
  margin-bottom: 2em;
}

.projectInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 20em;
}

#projects i {
  font-size: 24pt;
}

#projects h3 {
  color: #EA1E5B;
  font-family: 'Leckerli One', cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 14pt;
}

#projects p {
  font-size: 9pt;
}

#projects button {
  background-color: #FFF;
  transition: 0.4s;
  font-size: 10pt;
  margin: -0.8em 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
}

#projects button:hover {
  background-color: #43C66F;
  color: #FFF;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #projects img {
    width: 480px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div.container {
    padding: 0;
  }

  #projects h3 {
    font-size: 24pt;
  }

  #projects p {
    font-size: 12pt;
  }

  #projects button {
    font-size: 12pt;
  }
}

/* Contact */

#contact .container{
  margin: 0 auto;
}

#contact {
  text-align: center;
}

#contact a {
  font-size: 16pt;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #contact a {
    font-size: 20pt;
  }
}

/* Footer */
footer {
  text-align: center;
}

